li{

    float: left;
    padding: 1rem;
   
   
    
}

ul{

 
    list-style-type: none;
    background-color: black;
    color: aliceblue;
    overflow: hidden;
    


}
.alink{
    color: aliceblue;
    text-decoration:none;


}

#btn1{
    width: 95rem;
    height:40rem;
    border: 1px solid #ff8899;
    display: flex;
    justify-content: center;
    align-items: center;


}